nav {
    width: 200px;
    top: 0;
    left: 0;
    position: fixed;
    overflow-y: scroll;
    height: 100%;
}

nav ul {
    list-style-type: none;
    padding: 5px;
}

section {
    margin-left: 200px;
    float: left;
    overflow-y: scroll;
    height: 100%;
    width: 800px;
}