@()
@main("Welcome to Play") {
    <article>
        <nav>
            <label>
                <input id="bible-search" type="text" class="form-control"/>
            </label>
        </nav>
        <section class="search-result section-hidden">

        </section>
        <section class="contents">
            <h1>Let's read bible!</h1>
            <div id="spinner-ring" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div id="contents">

            </div>
        </section>
    </article>
}